.wgp-table-wrapper{
    width: 100%;
    overflow-x: scroll;
}
.wgp-table-wrapper table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1rem;
    color: #6c757d;
    border-collapse: collapse;
}
.wgp-table-wrapper table th,.wgp-table-wrapper table td{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #C3C3C3;
}
.wgp-table-wrapper table th {
    width: 15em;
    cursor: pointer;
    font-weight: 700;
    text-align: inherit;
}

.wgp-container{
    padding: 1.5rem;
    background: white;
    margin: 5px 15px 2px;
}
.wgp-container a{
    text-decoration: none;
}
.wgp-pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.wgp-pagination ul{
    display: flex;
    align-items: center;
}
.wgp-pagination ul a{
    padding: 0.5rem 1rem;
}
.wgp-pagination ul a.active,.wgp-pagination ul a:hover{
    background: #f1f1f1;
}

